/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    background-color: rgb(255, 145, 0);
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
  }
  
  #like-button {
    background-color: rgb(250, 17, 0);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  #like-count {
    margin-left: 10px;
    font-size: 16px;
  }


  header {
    background-color: #f5b400;
    padding: 2rem;
  }
  
  nav ul {
    list-style: none;
    margin: 10px;
    padding: 5px;
  }
  
  nav li {
    float: right;
    font-size: 20px;
    display: inline;
    margin-right: 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
  }
  
  nav a:hover {
    color: rgb(181, 218, 223);
  }
  
  main {
    max-width: 1000px;
    margin: 30px;
    padding: 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  h1, h2 {
    font-weight: normal;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  img {
    border-radius: 5px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
  }
  
  .resizeimg:hover{
    width: 300px;
    height: 300px;
  }

  .main{
    display: flex;
    
  }

  footer{
    text-align: center;
    color: blue;
    background-color: rgb(211, 124, 26);
  }
  